<div class="zodiac-container">

  <h2 class="zodiac-title">Wybierz swój znak zodiaku</h2>
  
  <!-- Desktop grid -->
  <div class="zodiac-grid">
    <div 
      *ngFor="let sign of zodiacSigns" 
      class="zodiac-region-button"
      [class.selected]="selectedSign === sign.name"
      [style.border-color]="sign.backgroundColor"
      [style.background-color]="sign.backgroundColor"
      [style.background-image]="'url(/zodiac.svg)'"
      [style.background-position]="getSpritePosition(sign.spritePosition)"
      [title]="sign.name + ' (' + sign.dateRange + ')'"
      (click)="selectSign(sign.name)"
    >
    </div>
  </div>
  
  <!-- Mobile carousel -->
  <div class="mobile-carousel-wrap">
    <owl-carousel-o [options]="customOptions" class="zodiac-carousel">
      <ng-template carouselSlide *ngFor="let sign of zodiacSigns" [id]="sign.name">
        <div 
          class="zodiac-slide"
          [class.selected]="selectedSign === sign.name"
          [style.background-color]="sign.backgroundColor"
          [style.background-image]="'url(/zodiac.svg)'"
          [style.background-position]="getSpritePosition(sign.spritePosition)"
          [title]="sign.name + ' (' + sign.dateRange + ')'"
          (click)="selectSign(sign.name)"
        >
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
  
</div>